*.swp
*.o
autom4te.cache/
configure.ac~
configure
configure~
cscope.*
Makefile
Makefile.in
.deps/
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.guess
config.log
config.status
config.sub
depcomp
install-sh
missing
ktls-utils-*.tar.gz
stamp-h1
